# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# VS 编译产物
Debug/
Release/
x64/
x86/
ipch/
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.tlog
*.log
*.tmp
# 可执行/库
*.exe
*.dll
*.lib
*.exp
# VS 数据库
*.VC.db
*.VC.opendb
# 其它常见
bin/
out/
.vscode/
.vs/
x64/
*.pdb
*.ipch
*.db
*.db-shm
*.db-wal
Browse.VC.*